{% extends 'accounts/base.html' %}

{% block title %}Главная{% endblock %}
{% block header %}Калькулятор Ба Цзы{% endblock %}

{% block content %}
{% if user.is_authenticated %}

    <p>Сегодня: <strong>{{ current_date }}</strong></p>

    <!-- Форма для даты -->
    <div class="form-section">
        <label>Введите дату рождения</label>
        <input type="date" id="birthdayInput" required>
        <button id="submitBirthday">Отправить дату</button>
        <div id="birthdayResult"></div>
    </div>
    
    <!-- Форма для города (блокируется пока не отправлена дата) -->
    <div class="form-section">
        <label for="citySelect">Введите город:</label>
        <div class="dropdown-container">
            <input type="text" id="citySearch" placeholder="Начните вводить..." 
                autocomplete="off" >
            <select id="citySelect" size="5" style="display: none;">
                <!-- Варианты будут добавляться динамически -->
            </select>
        </div>
        <button id="submitCity" >Отправить город</button>
        <div id="cityResult"></div>
        <label>
            <input type="checkbox" id="changeTime"> Нужен расчёт по административному времени
        </label>
        <div id="checkTime"></div>
    </div>
    

    <div class="form-section">
        <label>Введите интересующую дату</label>
        <input type="date" id="ourdateInput" value="{{ current_date|default:'' }}" disabled required>
        <button id="submitOurdate">Отправить дату</button>
        <div id="ourdateResult"></div>
    </div>

    <script>
    // Обработка даты рождения
    document.getElementById('submitBirthday').addEventListener('click', async () => {
        const birthday = document.getElementById('birthdayInput').value;
        
        const response = await fetch("{% url 'process_birthday' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ birthday })
        });
        
        const data = await response.json();
        
        if (data.success) {
            document.getElementById('birthdayResult').innerHTML = `<p>${data.birthday_table}</p>`;
        
            
            // Сохраняем данные для последующих вычислений
            window.complexData = data.birthday_result;
        } else {
            alert('Ошибка: ' + data.error);
        }
    });
    

    // Автодополнение городов
    document.addEventListener('DOMContentLoaded', function() {
        const cities = JSON.parse('{{ cities_json|safe }}');
        console.log('Загружено городов:', cities.length);
        const searchInput = document.getElementById('citySearch');
        const citySelect = document.getElementById('citySelect');
        const submitCityBtn = document.getElementById('submitCity');
        let selectedCity = null;

        // Активация при вводе текста
        searchInput.addEventListener('input', function() {
            console.log('Ввод:', this.value);
            const searchTerm = this.value.toLowerCase();
            citySelect.innerHTML = '';
            
            // if (searchTerm.length < 2) {
            //     citySelect.style.display = 'none';
            //     submitCityBtn.disabled = true;
            //     return;
            // }

            // Фильтрация городов (исправленная версия)
            const filtered = cities.filter(city => 
                city.toLowerCase().includes(searchTerm)
            ).slice(0, 15);

            if (filtered.length > 0) {
                filtered.forEach(city => {
                    const option = document.createElement('option');
                    option.value = city;
                    option.textContent = city;
                    citySelect.appendChild(option);
                });
                citySelect.style.display = 'block';
                submitCityBtn.disabled = false;
            } else {
                citySelect.style.display = 'none';
                submitCityBtn.disabled = true;
            }
        });

        // Выбор города из списка
        citySelect.addEventListener('click', function() {
            if (this.selectedIndex >= 0) {
                searchInput.value = this.options[this.selectedIndex].value;
                selectedCity = searchInput.value;
                this.style.display = 'none';
            }
        });

        // Закрытие списка при клике вне его
        document.addEventListener('click', function(e) {
            if (!e.target.closest('.dropdown-container')) {
                citySelect.style.display = 'none';
            }
        });

    });
    
    // отправка города
    document.getElementById('submitCity').addEventListener('click', async () => {
        const city = document.getElementById('citySearch').value;
        
        if (!city) {
            alert('Пожалуйста, выберите город из списка');
            return;
        }

        
        // Добавляем данные из предыдущего запроса
        const postData = { 
            city,
            ...window.complexData  // Распаковываем сохранённые данные
        };
        
        const response = await fetch("{% url 'process_city' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(postData)
        });
        
        const data = await response.json();
        
        if (data.success) {
            document.getElementById('cityResult').innerHTML = `
                <p>
                    <span class="rainbow-text">Текущее административное время:</span> 
                    <span style= "color: #4a7b9d; font-size: 16px; font-weight: bold;">${data.admin_time}</span>
                </p>               
                <p>
                    <span class="rainbow-text">Текущее солнечное время:</span> 
                    <span style= "color: #4a7b9d; font-size: 16px; font-weight: bold;">${data.solar_time}</span>
                </p>
                <p style="font-size: 12px">Рассчет по умолчанию выполняется по солнечному времени.
                    <br>Если нужен рассчет по времени административному, поставьте галочкуниже:</p>
            `;
            
            
            // Инициализируем переменную времени
            let current_time = data.solar_time;
            document.getElementById('checkTime').innerHTML = `<div>Рассчетное время ${current_time}</div>`;
            
            // Обработчик изменения чекбокса
            document.getElementById('changeTime').addEventListener('change', function() {
                current_time = this.checked ? data.admin_time : data.solar_time;
                console.log('Текущее время:', current_time); // Для отладки
                document.getElementById('checkTime').innerHTML = `<div>Рассчетное время ${current_time}</div>`;
                // Сохраняем данные для последующих вычислений
            });
            
            
            window.complexData = {
                current_time: current_time
            };

            // Активируем форму даты
            document.getElementById('ourdateInput').disabled = false;
            document.getElementById('submitOurdate').disabled = false;
            
        } else {
            alert('Ошибка: ' + data.error);
        }

    })

    // Если Django не передал дату, используем текущую
    document.addEventListener('DOMContentLoaded', function() {
        const dateInput = document.getElementById('ourdateInput');
        if (!dateInput.value) {
            dateInput.value = new Date().toISOString().split('T')[0];
        }
    });
    // Обработка даты
    document.getElementById('submitOurdate').addEventListener('click', async () => {
        const ourdate = document.getElementById('ourdateInput').value;
        
        if (!window.complexData) {
            alert('window.complexData пуст');
            return;
        }
        
        // Формируем данные для отправки
        const postData = {
            ourdate: ourdate,
            current_time: window.complexData.current_time
        };       
        
        const response = await fetch("{% url 'process_our_date' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(postData)
        });
        
        const data = await response.json();
        
        if (data.success) {
            document.getElementById('ourdateResult').innerHTML = `
            <p>${data.our_date_table}</p>
            <p>${data.str_result}</p>`;
            
            // Сохраняем данные для последующих вычислений
            window.complexData = data.our_date_result, data.current_hour_china;
        } else {
            alert('Ошибка: ' + data.error);
        }
    });
    </script>


<style>
.invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
}
.is-invalid {
    border-color: #dc3545 !important;
}
</style>

    {% else %}
    <div style="text-align: center; margin: 30px 0;">
        <p>Для доступа к системе требуется авторизация</p>
        <div style="margin-top: 20px;">
            <a href="{% url 'login' %}" style="display: inline-block; margin: 0 10px;">
                <button>Войти</button>
            </a>
            <a href="{% url 'register' %}" style="display: inline-block; margin: 0 10px;">
                <button>Регистрация</button>
            </a>
        </div>
    </div>
{% endif %}

{% endblock %}